# Python Cache
**/__pycache__
# Built-in scripts for Ghidra
**/ghidra_scripts/AddReferencesInSwitchTable.java
**/ghidra_scripts/AddSingleReferenceInSwitchTable.java
**/ghidra_scripts/AppleSingleDoubleScript.java
**/ghidra_scripts/AsciiToBinaryScript.java
**/ghidra_scripts/AskScript.java
**/ghidra_scripts/AskValuesExampleScript.java
**/ghidra_scripts/AssembleCheckDevScript.java
**/ghidra_scripts/AssembleScript.java
**/ghidra_scripts/AssemblyThrasherDevScript.java
**/ghidra_scripts/AutoRenameLabelsScript.java
**/ghidra_scripts/AutoRenameSimpleLabels.java
**/ghidra_scripts/BatchRename.java
**/ghidra_scripts/BatchSegregate64bit.java
**/ghidra_scripts/BuildGhidraJarScript.java
**/ghidra_scripts/CallAnotherScript.java
**/ghidra_scripts/CallAnotherScriptForAllPrograms.java
**/ghidra_scripts/ChangeDataSettingsScript.java
**/ghidra_scripts/ChooseDataTypeScript.java
**/ghidra_scripts/COFF_ArchiveScript.java
**/ghidra_scripts/COFF_Script.java
**/ghidra_scripts/CompareAnalysisScript.java
**/ghidra_scripts/ComputeCyclomaticComplexity.java
**/ghidra_scripts/CondenseRepeatingBytes.java
**/ghidra_scripts/CountAndSaveStrings.java
**/ghidra_scripts/CountSymbolsScript.java
**/ghidra_scripts/CreateDefaultGDTArchivesScript.java
**/ghidra_scripts/CreateEmptyProgramScript.java
**/ghidra_scripts/CreateExampleGDTArchiveScript.java
**/ghidra_scripts/CreateExportFileForDLL.java
**/ghidra_scripts/CreateFunctionAfterTerminals.java
**/ghidra_scripts/CreateFunctionsFromSelection.java
**/ghidra_scripts/CreateOperandReferencesInSelectionScript.java
**/ghidra_scripts/CreatePdbXmlFilesScript.java
**/ghidra_scripts/CreateRelocationBasedOperandReferences.java
**/ghidra_scripts/DebugSleighInstructionParse.java
**/ghidra_scripts/DeleteDeadDefaultPlatesScript.java
**/ghidra_scripts/DeleteEmptyPlateCommentsScript.java
**/ghidra_scripts/DeleteFunctionDefaultPlatesScript.java
**/ghidra_scripts/DeleteSpacePropertyScript.java
**/ghidra_scripts/DemangleAllScript.java
**/ghidra_scripts/DemangleSymbolScript.java
**/ghidra_scripts/DoARMDisassemble.java
**/ghidra_scripts/DoThumbDisassemble.java
**/ghidra_scripts/DWARFLineInfoSourceMapScript.java
**/ghidra_scripts/DWARFSetExternalDebugFilesLocationPrescript.java
**/ghidra_scripts/EmbeddedFinderScript.java
**/ghidra_scripts/EmuX86DeobfuscateExampleScript.java
**/ghidra_scripts/ExportProgramScript.java
**/ghidra_scripts/FindDataTypeConflictCauseScript.java
**/ghidra_scripts/FindFunctionsUsingTOCinPEFScript.java
**/ghidra_scripts/FindOverlappingCodeUnitsScript.java
**/ghidra_scripts/FindTextScript.java
**/ghidra_scripts/FindUndefinedFunctionsScript.java
**/ghidra_scripts/FindX86RelativeCallsScript.java
**/ghidra_scripts/Fix_ARM_Call_JumpsScript.java
**/ghidra_scripts/FixArrayStructReferencesScript.java
**/ghidra_scripts/FixElfExternalOffsetDataRelocationScript.java
**/ghidra_scripts/FixOffcutInstructionScript.java
**/ghidra_scripts/FixOldSTVariableStorageScript.java
**/ghidra_scripts/FixupCompositeDataTypesScript.java
**/ghidra_scripts/FixupGolangFuncParamStorageScript.java
**/ghidra_scripts/FixupNoReturnFunctionsNoRepairScript.java
**/ghidra_scripts/FixupNoReturnFunctionsScript.java
**/ghidra_scripts/FormatExampleScript.java
**/ghidra_scripts/GenerateLotsOfProgramsScript.java
**/ghidra_scripts/GraphClassesScript.java
**/ghidra_scripts/HelloWorldPopupScript.java
**/ghidra_scripts/ImportProgramScript.java
**/ghidra_scripts/InnerClassScript.java
**/ghidra_scripts/InstructionSearchScript.java
**/ghidra_scripts/IterateDataScript.java
**/ghidra_scripts/IterateFunctionsByAddressScript.java
**/ghidra_scripts/IterateInstructionsScript.java
**/ghidra_scripts/LabelDataScript.java
**/ghidra_scripts/LabelDirectFunctionReferencesScript.java
**/ghidra_scripts/LabelIndirectStringReferencesScript.java
**/ghidra_scripts/LanguagesAPIDemoScript.java
**/ghidra_scripts/MakeFunctionsInlineVoidScript.java
**/ghidra_scripts/MakeStackRefs.java
**/ghidra_scripts/mark_in_out.py
**/ghidra_scripts/MarkUnimplementedPcode.java
**/ghidra_scripts/MarkupWallaceSrcScript.java
**/ghidra_scripts/Mips_Fix_T9_PositionIndependentCode.java
**/ghidra_scripts/NameStringPointersPlus.java
**/ghidra_scripts/OpenSourceFileAtLineInEclipseScript.java
**/ghidra_scripts/OpenSourceFileAtLineInVSCodeScript.java
**/ghidra_scripts/Override_ARM_Call_JumpsScript.java
**/ghidra_scripts/PE_script.java
**/ghidra_scripts/PrintStructureScript.java
**/ghidra_scripts/ProgressExampleScript.java
**/ghidra_scripts/PropagateConstantReferences.java
**/ghidra_scripts/PropagateX86ConstantReferences.java
**/ghidra_scripts/RecursiveStringFinder.py
**/ghidra_scripts/RemoveDeletedOverlayReferences.java
**/ghidra_scripts/RemoveSourceMapEntryScript.java
**/ghidra_scripts/RemoveUserCheckoutsScript.java
**/ghidra_scripts/RenameProgramsInProjectScript.java
**/ghidra_scripts/RenameStructMembers.java
**/ghidra_scripts/RenameVariable.java
**/ghidra_scripts/RepairFuncDefinitionUsageScript.java
**/ghidra_scripts/ReportDisassemblyErrors.java
**/ghidra_scripts/ResolveX86orX64LinuxSyscallsScript.java
**/ghidra_scripts/RunYARAFromGhidra.py
**/ghidra_scripts/SearchBaseExtended.java
**/ghidra_scripts/SearchForImageBaseOffsets.java
**/ghidra_scripts/SearchGuiMulti.java
**/ghidra_scripts/SearchMemoryForStringsRegExScript.java
**/ghidra_scripts/SearchMnemonicsNoOpsNoConstScript.java
**/ghidra_scripts/SearchMnemonicsOpsConstScript.java
**/ghidra_scripts/SelectAddressesMappedToSourceFileScript.java
**/ghidra_scripts/SelectFunctionsScript.java
**/ghidra_scripts/SetHeadlessContinuationOptionScript.java
**/ghidra_scripts/ShowEquatesInSelectionScript.java
**/ghidra_scripts/ShowSourceMapEntryStartsScript.java
**/ghidra_scripts/SplitMultiplePefContainersScript.java
**/ghidra_scripts/SubsToFuncsScript.java
**/ghidra_scripts/SynchronizeGDTCategoryPaths.java
**/ghidra_scripts/TranslateStringsScript.java
**/ghidra_scripts/TurnOffStackAnalysis.java
**/ghidra_scripts/VersionControl_AddAll.java
**/ghidra_scripts/VersionControl_ResetAll.java
**/ghidra_scripts/VersionControl_UndoAllCheckout.java
**/ghidra_scripts/ZapBCTRScript.java
**/ghidra_scripts/AddCommentToProgramScript.java
**/ghidra_scripts/AddSourceFileScript.java
**/ghidra_scripts/AddSourceMapEntryScript.java
**/ghidra_scripts/ArmThumbFunctionTableScript.java
**/ghidra_scripts/AskScript.properties
**/ghidra_scripts/AssembleBlockScript.java
**/ghidra_scripts/AssociateExternalPELibrariesScript.java
**/ghidra_scripts/BinaryToAsciiScript.java
**/ghidra_scripts/CallotherCensusScript.java
**/ghidra_scripts/ClearOrphanFunctions.java
**/ghidra_scripts/CompareGDTs.java
**/ghidra_scripts/CondenseAllRepeatingBytes.java
**/ghidra_scripts/CondenseFillerBytes.java
**/ghidra_scripts/CondenseRepeatingBytesAtEndOfMemory.java
**/ghidra_scripts/ConvertDotDotDotScript.java
**/ghidra_scripts/ConvertDotToDashInAutoAnalysisLabels.java
**/ghidra_scripts/CreateHelpTemplateScript.java
**/ghidra_scripts/CreateStringScript.java
**/ghidra_scripts/CreateUEFIGDTArchivesScript.java
**/ghidra_scripts/DeleteExitCommentsScript.java
**/ghidra_scripts/DWARFLineInfoCommentScript.java
**/ghidra_scripts/EditBytesScript.java
**/ghidra_scripts/EmuX86GccDeobfuscateHookExampleScript.java
**/ghidra_scripts/ExampleColorScript.java
**/ghidra_scripts/ExampleGraphServiceScript.java
**/ghidra_scripts/ExportFunctionInfoScript.java
**/ghidra_scripts/ExportImagesScript.java
**/ghidra_scripts/ExtractELFDebugFilesScript.java
**/ghidra_scripts/FFsBeGoneScript.java
**/ghidra_scripts/FindAndReplaceCommentScript.java
**/ghidra_scripts/FindAudioInProgramScript.java
**/ghidra_scripts/FindDataTypeScript.java
**/ghidra_scripts/FindImagesScript.java
**/ghidra_scripts/FindInstructionsNotInsideFunctionScript.java
**/ghidra_scripts/FindRunsOfPointersScript.java
**/ghidra_scripts/FindSharedReturnFunctionsScript.java
**/ghidra_scripts/FindUndefinedFunctionsFollowUpScript.java
**/ghidra_scripts/FindUnrecoveredSwitchesScript.java
**/ghidra_scripts/GenerateMaskedBitStringScript.java
**/ghidra_scripts/GetAndSetAnalysisOptionsScript.java
**/ghidra_scripts/HelloWorldScript.java
**/ghidra_scripts/ImportAllProgramsFromADirectoryScript.java
**/ghidra_scripts/IterateFunctionsScript.java
**/ghidra_scripts/LabelIndirectReferencesScript.java
**/ghidra_scripts/LinuxSystemMapImportScript.java
**/ghidra_scripts/LocateMemoryAddressesForFileOffset.java
**/ghidra_scripts/LocateMemoryAddressesForFileOffset.py
**/ghidra_scripts/MachO_Script.java
**/ghidra_scripts/MakeFunctionsScript.java
**/ghidra_scripts/MarkCallOtherPcode.java
**/ghidra_scripts/MultiInstructionMemReference.java
**/ghidra_scripts/PasteCopiedListingBytesScript.java
**/ghidra_scripts/PEF_script.java
**/ghidra_scripts/PortableExecutableRichPrintScript.java
**/ghidra_scripts/PrintFunctionCallTreesScript.java
**/ghidra_scripts/PropagateExternalParametersScript.java
**/ghidra_scripts/RegisterTouchesPerFunction.java
**/ghidra_scripts/ReloadSleighLanguage.java
**/ghidra_scripts/RemoveSymbolQuotesScript.java
**/ghidra_scripts/RepairDisassemblyScript.java
**/ghidra_scripts/ReplaceInComments.java
**/ghidra_scripts/ReportPercentDisassembled.java
**/ghidra_scripts/RepositoryFileUpgradeScript.java
**/ghidra_scripts/ResolveExternalReferences.java
**/ghidra_scripts/SearchForImageBaseOffsetsScript.java
**/ghidra_scripts/SearchGuiSingle.java
**/ghidra_scripts/SearchMnemonicsOpsNoConstScript.java
**/ghidra_scripts/SetEquateScript.java
**/ghidra_scripts/SplitUniversalBinariesScript.java
**/ghidra_scripts/VersionControl_VersionSummary.java
**/ghidra_scripts/world.png
**/ghidra_scripts/XorMemoryScript.java
**/ghidra_scripts/YaraGhidraGUIScript.java
**/ghidra_scripts/GccRttiAnalysisScript.java
**/ghidra_scripts/DWARF_ExtractorScript.java

# Other user-generated scripts
**/ghidra_scripts/LabelP3RFlowFunctions.py
**/ghidra_scripts/metaphor-functions.py
**/ghidra_scripts/PdbGen.java
**/ghidra_scripts/MetaphorReadFunctions.java
**/ghidra_scripts/UnrealExportVTables.java
**/ghidra_scripts/UnrealImportVTables.java
**/ghidra_scripts/UnrealImportShaderMetadata.java
**/ghidra_scripts/CreateFlowscriptLibrary.java
**/output
**/signatures